.layout-wrapper {
    display: flex;
    min-height: 100vh;
}

/* Botão Mobile */
.mobile-menu-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 999;
    background: #1e1e2d;
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilização do Sidebar customizado */
:host ::ng-deep .p-sidebar {
    padding: 0;
    background: linear-gradient(180deg, #0a0a29 0%, #0f0f3d 100%);
    transition: all 0.3s ease;
}

:host ::ng-deep .p-sidebar-content {
  padding: 0; !important
}

:host ::ng-deep .collapsed .p-sidebar-content {
    width: 80px !important;
}

:host ::ng-deep .sidebar-collapsed .p-sidebar-left  {
  width: 80px !important;
}

/* Header do Sidebar */
.sidebar-header {
    padding: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.collapsed .logo-container i {
  padding: 0 0.8rem; !important
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container .logo {
    height: 40px;
}



.logo-container .menu-toggle {
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5rem;
}

.logo-container .menu-toggle:hover {
    color: #007bff;
}

/* Conteúdo do Sidebar */
.sidebar-content {
    padding: 1rem 0;
}

.sidebar-content.collapsed .menu-list li {
    padding: 0.8rem 1.8rem;
}

.sidebar-header.collapsed .menu-list li span {
    display: none;
}

/* Lista de Menu */
.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    padding: 0.8rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-list li a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.menu-list li a i {
    margin-right: 0.8rem;
    font-size: 1.2rem;
}

.menu-list li:hover {
    background: rgba(255,255,255,0.1);
}

.menu-list li.active {
    background: #007bff;
}

.menu-list li.active:hover {
    background: #0056b3;
}

/* Conteúdo Principal */
.main-content {
    flex: 1;
    padding: 2rem;
    margin-left: 300px;
    transition: all 0.3s ease;
}

.main-content.sidebar-collapsed {
    margin-left: 80px;
}

/* Responsividade */
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding: 1rem;
        padding-top: 4rem; /* Espaço para o botão mobile */
    }

    :host ::ng-deep .custom-sidebar .p-sidebar {
        width: 80% !important;
    }

    .sidebar-content.collapsed .menu-list li span {
        display: inline; /* Mostrar textos em mobile mesmo colapsado */
    }
}
